.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 0px;
}

svg {
  transform: rotate(275deg); /* Rotate to start progress from the top */
}

.progress-background {
  fill: none;
  stroke: #e0e0e0; /* Background circle color */
}

.progress-bar {
  fill: none;
  stroke: #4caf50; /* Progress bar color */
  stroke-linecap: round; /* Make the ends of the stroke rounded */
  transition: stroke-dashoffset 0.35s;
  transform: rotate(0deg);
  transform-origin: 50% 150%;
}

.skill-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

h3 {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}